#root {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

strong{
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: large;
}

.search-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px; /* Adjust width as needed */
  
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Optional: for some padding around the search bar */
  border-radius: 5px;
  margin-bottom: 15px;
}


.search input[type="text"] {
  flex: 1; /* Take up remaining space */
  padding: 15px;
  border-radius: 40px;
  font-size: 16px;
  width: 900px;
  border: 2px black;
}
